#clock_area {
  background-color: lightpink;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#date_area {
  background-color: lightyellow;
  height: 200px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time_area {
  background-color: lightsalmon;
  height: 200px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}