#clock_area {
  background-color: lightpink;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#date_area {
  background-color: lightyellow;
  height: 200px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time_area {
  background-color: lightsalmon;
  height: 200px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#show_hours {
  width: 500px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#time_line {
  background-color: lightgray;
  height: 50px;
  width: 500px;
}

#passed {
  background-color: lightgreen;
  height: 100%;
}